@blue: #0790c0;
@lightBlue: lighten(@blue, 7%);
@lightestBlue: lighten(@blue, 20%);
@orange: #ff7f2a;
@lightOrange: lighten(@orange, 7%);
@lightestOrange: lighten(@orange, 20%);
@black: #000;
@offBlack: #222;
@darkGrey: #555;
@darkerGrey: #333;
@darkestGrey: #1a1a1a;
@offWhite: #eee;
@white: #fff;
