---
layout: base
---

<div id="home-banner">
    <img src="img/logo.png" alt="logo" />
    <p class="tagline">{{ site.tagline }}</p>
    <a href="/download" class="button primary">
        Download
    </a>
    <a href="/about" class="button secondary">
        Discover
    </a>
    <br />
    <div id="home-news">
        {% assign post = site.posts.first %}
        <p><strong>{{ post.date | date: "%B %-d, %Y" }}</strong></p>
        {{ post.content }}
        <p><a href="/news">View more news &raquo;</a></p>
    </div>
</div>

<div id="sombrero">
    <img src="img/sombrero.png" />
</div>
